body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

#app {
    text-align: center;
}

#timer-display {
    color: #2f3640;
    font-size: 2em;
    margin-top: 20px;
}
